.osrsTableWrapper {
  border-radius: 5px;
  border-width: 2px;
  border-color: brown;
  border-style: solid;
  margin: 4px;
  min-width: 300;
}

.osrsTable {
  background-color: bisque;
  border-collapse: collapse;
  table-layout: fixed;
}

.osrsTable thead {
  background-color: brown;
}

.osrsTable th {
  text-align: left;
  white-space: nowrap;
}

.osrsTable th:not(:last-child) {
  border-right: 1px solid bisque;
}

.osrsTable tr  {
  border-bottom: 1px solid brown;
}

.osrsTable td, .osrsTable tfoot  {
  padding: 0px;
}

.osrsTable td:not(:last-child) {
  border-right: 1px solid brown;
}

.osrsTable tr:nth-child(even)  {
  border-bottom: 1px solid brown;
}

.tableFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
