.osrsTableCell {
  padding: 4px;
}

td .osrsTableCell {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th .osrsTableCell {
  white-space: wrap;
}
