header {
  display: flex;
  justify-content: space-around;
}

main {
  display: flex;
  justify-content: center;
}

.osrsItemIconWrapper {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.osrsItemColumnCell {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
