* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
}

main {
  display: flex;
  justify-content: center;
}

.text-clip-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
